<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Group 2</li>
        <li><a href="#">Spandana</a></li>
        <li><a href="#">Alex</a></li>
        <li><a href="#">Rohan</a></li>
      </ul>
    </div>
  </div>
</header>
