<header data-sticky-container>
  <div class="top-bar" data-sticky data-margin-top="0">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Group 2</li>
        <li><a href="#nameHeader-Spandana">Spandana</a></li>
        <li><a href="#nameHeader-Alex">Alex</a></li>
        <li><a href="#nameHeader-Rohan">Rohan</a></li>
      </ul>
    </div>
  </div>
</header>
