{% extends "./nunjucks/templates/default.njk" %}

{% block content %}
  <h1 class="text-center">Daily Bruin Group 2</h1>
  <h5 class="subheader text-center">Spandana Koduri, Alex Zhao, and Rohan Khajuria</h5>

  <h2 id="aboutus">About Us</h2>
  <div class="sections">
    <div class="sections__section">
      <h3>Spandana</h3>
    </div>
    <div class="sections__section">
      <h3>Alex</h3>
      <img class="sections__section__pic" src="img/alexzhao.jpg" alt="Alex Zhao">
      <p>Hello! I'm a first-year computer science and engineering major at UCLA :)</p>
    </div>
    <div class="sections__section">
      <h3>Rohan</h3>
      <img class="sections__section__pic" src="img/rohankhajuria.jpg" alt="asdf">
      <p>Hi, I'm a freshman CS major on the Kerckhoff project!</p>
    </div>
  </div>

  <div class="cat">
    <h2 id="cat">Cat</h2>
    <img src="img/cat.jpg" width=750 height=750 alt="Cat">
  </div>
{% endblock %}
