{% extends "./nunjucks/templates/default.njk" %}

{% block content %}
  <h1>Daily Bruin Group 2</h1>
  <p>Spandana Koduri, Alex Zhao, and Rohan Khajuria</p>

  <h1 id="grouppic">Group Picture</h1>

  <h1 id="aboutus">About Us</h1>
  <div class="sections">
    <div class="sections__section">
      <h1>Spandana</h1>
    </div>
    <div class="sections__section">
      <h1>Alex</h1>
      <img class="sections__section__pic" src="img/alexzhao.jpg" alt="Alex Zhao">
      <p>Hello! I'm a first-year computer science and engineering major at UCLA :)</p>
    </div>
    <div class="sections__section">
      <h1>Rohan</h1>
    </div>
  </div>

  <div class="cat">
    <h1 id="cat">Cat</h1>
    <img src="img/cat.jpg" width=750 height=750 alt="Cat">
  </div>
{% endblock %}
