{% extends "./nunjucks/templates/default.njk" %}

{% block content %}
<h1>Daily Bruin Group 2</h1>
<p>
  By Spandana Koduri, Alex Zhao, and Rohan Khajuria
</p>
<h2>Cat</h2>
<img src="img/cat.jpg" width=1000 height=1000 alt="Cat">
{% endblock %}
