/*icon styles*/
.fi-social-facebook {
  color: dodgerblue;
  font-size: 2rem;
}
.fi-social-youtube {
  color: red;
  font-size: 2rem;
}
.fi-social-pinterest {
  color: darkred;
  font-size: 2rem;
}
i.fi-social-instagram {
  color: brown;
  font-size: 2rem;
}
i.fi-social-tumblr {
  color: navy;
  font-size: 2rem;
}
.fi-social-twitter {
  color: skyblue;
  font-size: 2rem;
}
.sections {
  display: flex;
  margin: auto 2em;
}
.sections > div {
  flex: 1;
  text-align: center;
}
.sections__alexpic {
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  max-height: 60%;
  max-width: 60%;
  margin: auto 0 1em;
}
